@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@theme{
  --font-danabold:'danabold';
  --font-danademi:'danademi';
  --font-danalight:'danalight';
  --font-danamedium:'danamedium'; 
   --transition-property-colors: color, background-color, border-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;

}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "danalight";
  src: url(/assets/fonts/DanaFaNum-Regular.woff2);
}
@font-face {
  font-family: danamedium;
  src: url(/assets/fonts/Dana-Medium.woff2);
}
@font-face {
  font-family: danabold;
  src: url(/assets/fonts/Dana-Bold.woff2);
}
@font-face {
  font-family: danademi;
  src: url(/assets/fonts/Dana-DemiBold.woff2);
}
*{
  @apply transition-colors duration-150;
  font-family: 'danalight' !important;
  transition: all .2s !important;
  
  
}
